#file:action1:action2
/etc/hosts:checksum:checkperm                                           #hosts file
/etc/services:checksum:checkperm                                        #services file
/etc/passwd:checksum:checkperm                                          #passwd
/etc/group:checksum:checkperm                                           #group
/etc/resolv.conf:checksum:checkperm                                     #resolv.conf
/etc/services:checksum:checkperm                                        # services
/usr/sap/sapservices:checksum:checkperm                                 # sap services
/opt/ManCluster/5.0/SERVICES/CIDB/init.d/ORACLE:checksum:checkperm
