CUT=/bin/cut
CAT=/bin/cat
ECHO="/bin/echo -e"
SED=/bin/sed
HOSTNAME=/bin/hostname
LS=/bin/ls
GREP=/bin/grep
EGREP=/bin/egrep
RM=/bin/rm
AWK=/bin/awk
IP=/sbin/ip
ID=/usr/bin/id
PING=/bin/ping
IFCONFIG=/sbin/ifconfig
DF=/bin/df
SORT=/bin/sort
FUSER=/sbin/fuser
UMOUNT=/bin/umount
MOUNT=/bin/mount
TAIL=/usr/bin/tail
HEAD=/usr/bin/head
SSH="/usr/bin/ssh -nq"
SUM=/usr/bin/sum
TEE=/usr/bin/tee
MAILX=/bin/mailx
LN=/bin/ln
TAIL=/usr/bin/tail
DATE=/bin/date
WC=/usr/bin/wc
EXPORTFS=/usr/sbin/exportfs
PERL=/usr/bin/perl
FSCK=/sbin/fsck
FUSER=/sbin/fuser
KILL=/bin/kill
PS=/bin/ps
GETENT=/usr/bin/getent

