#  --- Fichier de configuration general  --- 
  # positionnement de variables d'environnement

  #--------- 1. The following lines Must not be changed ----------
 
VERSION=5.0

MANBASEDIR=/opt/ManCluster/$VERSION
HCLBASEDIR=$MANBASEDIR/SERVICES/CIDB
HCLLOG=$HCLBASEDIR/logs
INITDIR=$HCLBASEDIR/init.d
RC3DIR=$HCLBASEDIR/rc3.d
RC0DIR=$HCLBASEDIR/rc0.d
ADMINDIR=$MANBASEDIR/ADMIN
SCRIPT_DIR=$ADMINDIR/script
SERVICE_DIR=$MANBASEDIR/SERVICES/CIDB
SERVICE_CONF_DIR=$MANBASEDIR/SERVICES/CIDB/etc
ADMIN_SERVICE_DIR=$ADMINDIR/SERVICES
ADMIN_STORAGE_DIR=$ADMINDIR/STORAGE
TMP=$ADMINDIR/tmp
SERVICE_LOGDIR=$ADMIN_SERVICE_DIR/log
STORAGE_LOGDIR=$ADMIN_STORAGE_DIR/log
PREV_SERVICE_LOGDIR=$SERVICE_LOGDIR/previous_log
PREV_STORAGE_LOGDIR=$STORAGE_LOGDIR/previous_log
  #---------- END OF 1 -------------------------------------------



  # ----------- 2. The FOLLOWING LINES MUST BE CHANGED -----------
  # NODES contains the nodes of the cluster
  #
  # Examples:
master_node="frmsteuixosp02"
aux_node="frmsteuixosp01"
nodename=$( /bin/uname -n )
other_host=$( echo $master_node $aux_node | /bin/sed "s/$nodename//" )
mytype=$( [[ $master_node = $nodename ]] && echo Master || echo Aux )
sshkey_master_node=/root/.ssh/internal_node
sshkey_aux_node=/root/.ssh/internal_node
master_db_name="DS_PRIMARY"
aux_db_name="DS_AUXILIARY"
sys_password="Prodixos1"
  # DFSTAB contais file systems to export for sharing
  #
  # Examples:
  #DFSTAB=$HCLBASEDIR/exports.sapt2m
  #

  # NAME of SAP and ORACLE instance
  #
  # Examples:
  #INSTANCE=T2M
  #
  INSTANCE=DS
 # SERVICES contains logical hosts and addresses
  #
  # Examples:
  #SERVICES="sapt2m 10.134.234.38 10.134.234.39"
  #SERVICES="10.134.234.38"
  #SERVICES="testay"
  SERVICES="ixosprd"
  #
SAP_LIST=""
ORACLE_LIST="orads"
ASM="Y"
 # INTERFACES contains the physical network interface on which logical hosts and addresses are attached
  #
  # Examples:
  #INTERFACES="bond0"
  #INTERFACES="bond0 bond0 eth3"
  INTERFACES="eth0"
 #
  # List of SAP Application Servers
  #
  # Examples:
  #LIST_AS="sapas1 sapas2 sapas3"
  #
  RESSOURCES_LIST="ASM  LISTENER ORACLE NET  SPAWNER TOMCAT7"
  DIR_TO_BE_SYNC="/opt/opentext/PRD/ArchiveServerConfig_10_5_0/config/ /EXTALPOOL/"
  SYNC_FREQ_SEC="60"
  nb_lines=1000000
  
  #--------------- END OF 2 ---------------------------------------

  # ----------- 3. The FOLLOWING LINES CAN BE CHANGED BUT IT IS NOT A REQUIREMENT ----------
  #Number of LOGS that are kept in the logs directory
  #
  MAX_LOGS=30
  EMAIL=mathieu.gravil@total.com

  #------------- END OF 3 -----------------------------------------

